@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
}

.list-item:hover {
  background-color: #f3f4f6;
  transition: .3s ease background-color;
}